language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
# command to install dependencies
install:
  - pip install pysnow requests httpretty coverage python-coveralls nose
# command to run tests
script:
  - nosetests --with-coverage --cover-package=pysnow --cover-erase
after_success:
  - coveralls



