dist: "xenial"
language: python
python:
  - "2.7"
  - "3.6"
  - "3.7"
install:
    - pip install -r requirements.txt coverage python-coveralls
script:
    - nosetests --with-coverage --cover-package=pysnow --cover-erase
after_success:
    - coveralls
